*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-family: '方正喵呜简体';
}

.quiz-container {
    width: 100%;
    max-width: 600px;
    margin: 20px auto;
    background: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.question h2 {
    color: #333;
    font-family: '方正喵呜简体';
}

.options {
    margin-top: 10px;
}

.options label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555;
}

.submit-button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.submit-button:hover {
    background-color: #0056b3;
}

.result {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: none;
}
/* .tworesult {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: none;
}
.threeresult {
    margin-top: 20px;
    padding: 10px;
    background-color: #dff0d8;
    color: #3c763d;
    border: 1px solid #d6e9c6;
    border-radius: 5px;
    display: none;
} */

@media (max-width: 768px) {
    .question {
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        align-items: center;
    }

    .quiz-container {
        padding: 10px;
    }

    .submit-button {
        width: 90%;
    }
}